click==8.4.1
dbus-python==1.4.0
fabric @ git+https://github.com/Fabric-Development/fabric.git@b7b0f9975f0cf161ccf81c1adfb181230d553f79
loguru==0.7.3
pillow==12.2.0
pycairo==1.29.0
PyGObject==3.50.0
RapidFuzz==3.14.5
