[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=%h/bomb-shell/venv/bin/python %h/bomb-shell/main.py
Restart=on-failure
