* {
    all : unset;
    font-size: 12pt;
}

#appdrawer-main {
    background-color: @layer-2;
}

#appdrawer-searchbar {
    background-color: @layer-3;
    padding: 25px;
    border-radius: 0;
}

#appdrawer-viewport {
    margin: 86px 0px;
}

#appdrawer-flowbox flowboxchild {
    padding: 46px 36px;
    border-radius: 0;
}

#appdrawer-flowbox flowboxchild:selected {
    background-color: @layer-3;
}

#appdrawer-label {
    color: @fg-color;
}
