@import "colors.css";

#volumeosd-pill {
    min-width: 168px;
    min-height: 24px;
    background-color: @bg-color;
    border-radius: 0;
    padding: 8px 18px;
}

#volumeosd-slider {
    min-height: 10px;
}

#volumeosd-slider trough {
    background-color: @surface-elevated-color;
    min-height: 4px;
    border-radius: 0;
}

#volumeosd-slider highlight {
    background-color: @accent-color;
    min-height: 4px;
    border-radius: 0;
}

#volumeosd-pill.muted {
    opacity: 0.5;
}

#volumeosd-pill.muted #volumeosd-slider highlight {
    background-color: @muted-color;
}
