#volumeosd-pill {
    background-color: @bg-color;
    padding: 8px 24px;
}

#volumeosd-slider {
    min-height: 10px;
}

#volumeosd-slider trough {
    background-color: @surface-elevated-color;
    min-height: 4px;
}

#volumeosd-slider highlight {
    background-color: @accent-color;
    min-height: 4px;
}

#volumeosd-pill.muted {
    opacity: 0.5;
}

#volumeosd-pill.muted #volumeosd-slider highlight {
    background-color: @muted-color;
}
